<div class="panel-heading conversation-heading">
  <span class="conversation-title">
    <%= conversation.name %>
  </span>

  <%= link_to 'X', close_group_conversation_path(conversation),
              class: 'close-conversation',
              title: 'Close',
              remote: true,
              method: :post %>

  <div class="dropdown add-people-to-chat">
    <i class="fa fa-plus dropdown-toggle"
       id="add-user-to-gc-<%= conversation.id %>"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false"></i>

    <div class="dropdown-menu select-users-to-chat" aria-labelledby="add-user-to-gc-<%= conversation.id %>">
      <?%= render 'group/conversations/conversation/select_users', conversation: conversation %>
    </div>
  </div>
</div>
