<div class="messages-list">
  <%= render partial: load_group_messages_partial_path(conversation),
             locals: { conversation: conversation, messenger_boolean: false } %>

  <div class="loading-more-messages">
    <i class="fa fa-spinner" aria-hidden="true"></i>
  </div>

  <ul>
    <%# We manually track the previous message to pass it into the partial %>
    <% previous_message = nil %>
    <% conversation.messages.each do |message| %>
      <%= render partial: 'group/messages/message',
                 locals: {
                   message: message,
                   previous_message: previous_message,
                   user: current_user
                 } %>
      <% previous_message = message %>
    <% end %>
  </ul>
</div>