<div class="messages-list">
  <%= render load_private_messages(conversation), conversation: conversation %>
  <div class="loading-more-messages">
    <i class="fa fa-spinner" aria-hidden="true"></i>
  </div>
  <!-- messages -->
  <ul>
    <%# Use 'messages' local variable if it exists, otherwise fall back to '@messages' or conversation.messages as a last resort %>
    <% chat_messages = local_assigns[:messages] || @messages || conversation.messages.order(created_at: :desc).limit(10) %>

    <% if chat_messages.present? %>
      <% chat_messages.each_with_index do |message, index| %>
        <% previous_message = index > 0 ? chat_messages[index - 1] : nil %>
        <%= render partial: 'private/messages/message',
                   locals: { message: message,
                             previous_message: previous_message,
                             user: current_user } %>
      <% end %>
    <% end %>
  </ul>
</div>
