<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex justify-content-between w-100 w-lg-auto">
      <a class="navbar-brand" href="#">Brand</a>
      <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav me-auto">
      </ul>

      <ul class="navbar-nav ms-auto">
      </ul>
    </div></div></nav>