<nav class="navbar-default navbar-fixed-top navbar-expand-lg">
  <div class="container">
    <div class="row w-100 ">

      <div class="col-sm-7 " style="background: #323738;">
        <%= render 'layouts/navigation/header' %>
      </div>

      <div class="col-sm-5 justify-content-end">
        <%= render 'layouts/navigation/collapsible_elements' %>
      </div>

    </div></div></nav>